.column{
    border-radius: 10px;
}
.columns.list{
    border-color: black;
    text-align: center;
    background-color: rgb(197, 246, 246);
}
#card_image_list,#name_employee{
    display: flex;
    justify-content: center;
}